@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Inter', "Helvetica", sans-serif;
    font-size: 1rem;
    background-color: var(--paper);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--primary);
    transition: background-color 5000s ease-in-out 0s;
}

:root{
    --common-black: #000000;
    --common-white: #ffffff;
    --common-paper-dark:#0d0e12;

    --shadow-0: none;
    --shadow-1: 0px 1px 2px 0px var(--shadow);
    --shadow-2: 0px 1px 5px 0px var(--shadow);
    --shadow-3: 0px 1px 8px 0px var(--shadow);
    --shadow-4: 0px 1px 10px 0px var(--shadow);
    --shadow-5: 0px 1px 14px 0px var(--shadow);
    --shadow-6: 0px 1px 18px 0px var(--shadow);
    --shadow-7: 0px 2px 16px 0px var(--shadow);
    --shadow-8: 0px 3px 14px 0px var(--shadow);
    --shadow-9: 0px 3px 16px 0px var(--shadow);
    --shadow-10: 0px 4px 18px 0px var(--shadow);
    --shadow-11: 0px 4px 20px 0px var(--shadow);
    --shadow-12: 0px 5px 22px 0px var(--shadow);
    --shadow-13: 0px 5px 24px 0px var(--shadow);
    --shadow-14: 0px 5px 26px 0px var(--shadow);
    --shadow-15: 0px 6px 28px 0px var(--shadow);
    --shadow-16: 0px 6px 30px 0px var(--shadow);
    --shadow-17: 0px 6px 32px 0px var(--shadow);
    --shadow-18: 0px 7px 34px 0px var(--shadow);
    --shadow-19: 0px 7px 36px 0px var(--shadow);
    --shadow-20: 0px 8px 38px 0px var(--shadow);
    --shadow-21: 0px 8px 40px 0px var(--shadow);
    --shadow-22: 0px 8px 42px 0px var(--shadow);
    --shadow-23: 0px 9px 44px 0px var(--shadow);
    --shadow-24: 0px 9px 46px 0px var(--shadow);
    --shadow-card: 0px 3px 4px 0px var(--shadow);


    --rgb-red-50: 254 243 242;
    --rgb-red-100: 254 228 226;
    --rgb-red-200: 255 205 201;
    --rgb-red-300: 253 170 164;
    --rgb-red-400: 249 121 112;
    --rgb-red-500: 240 68 56;
    --rgb-red-600: 222 48 36;
    --rgb-red-700: 187 36 26;
    --rgb-red-800: 154 34 26;
    --rgb-red-900: 128 35 28;
    --rgb-red-950: 70 13 9;

    --rgb-slate-50: 251 252 254;
    --rgb-slate-100: 240 244 248;
    --rgb-slate-200: 221 231 238;
    --rgb-slate-300: 205 215 225;
    --rgb-slate-400: 159 166 173;
    --rgb-slate-500: 99 107 116;
    --rgb-slate-600: 85 94 104;
    --rgb-slate-700: 50 56 62;
    --rgb-slate-800: 32 36 39;
    --rgb-slate-900: 18 21 23;
    --rgb-slate-950: 9 10 11;

    --rgb-green-50: 240 253 250;
    --rgb-green-100: 204 251 239;
    --rgb-green-200: 154 245 225;
    --rgb-green-300: 95 233 206;
    --rgb-green-400: 46 211 184;
    --rgb-green-500: 21 183 159;
    --rgb-green-600: 14 147 130;
    --rgb-green-700: 16 117 105;
    --rgb-green-800: 17 94 86;
    --rgb-green-900: 19 78 72;
    --rgb-green-950: 4 47 44;

    --rgb-royal-blue-50: 236 240 255;
    --rgb-royal-blue-100: 221 227 255;
    --rgb-royal-blue-200: 194 203 255;
    --rgb-royal-blue-300: 156 167 255;
    --rgb-royal-blue-400: 117 120 255;
    --rgb-royal-blue-500: 99 91 255;
    --rgb-royal-blue-600: 78 54 245;
    --rgb-royal-blue-700: 67 42 216;
    --rgb-royal-blue-800: 55 37 174;
    --rgb-royal-blue-900: 48 38 137;
    --rgb-royal-blue-950: 30 22 80;

    --rgb-blue-50: 236 253 255;
    --rgb-blue-100: 207 247 254;
    --rgb-blue-200: 164 238 253;
    --rgb-blue-300: 102 224 250;
    --rgb-blue-400: 16 190 232;
    --rgb-blue-500: 4 170 214;
    --rgb-blue-600: 7 135 179;
    --rgb-blue-700: 13 109 145;
    --rgb-blue-800: 20 88 118;
    --rgb-blue-900: 21 73 100;
    --rgb-blue-950: 8 47 68;

    --rgb-yellow-50: 255 250 234;
    --rgb-yellow-100: 255 243 198;
    --rgb-yellow-200: 255 229 135;
    --rgb-yellow-300: 255 208 73;
    --rgb-yellow-400: 255 187 31;
    --rgb-yellow-500: 251 156 12;
    --rgb-yellow-600: 222 113 1;
    --rgb-yellow-700: 184 77 5;
    --rgb-yellow-800: 149 59 11;
    --rgb-yellow-900: 123 49 12;
    --rgb-yellow-950: 71 23 1;

    --rgb-grey-50: 249 250 251;
    --rgb-grey-100: 241 241 244;
    --rgb-grey-200: 220 223 228;
    --rgb-grey-300: 179 185 198;
    --rgb-grey-400: 138 148 166;
    --rgb-grey-500: 102 112 133;
    --rgb-grey-600: 86 94 115;
    --rgb-grey-700: 67 74 96;
    --rgb-grey-800: 49 55 73;
    --rgb-grey-900: 33 38 54;
    --rgb-grey-950: 18 22 33;

    /*--red-50: #fef3f2;*/
    /*--red-100: #fee4e2;*/
    /*--red-200: #ffcdc9;*/
    /*--red-300: #fdaaa4;*/
    /*--red-400: #f97970;*/
    /*--red-500: #f04438;*/
    /*--red-600: #de3024;*/
    /*--red-700: #bb241a;*/
    /*--red-800: #9a221a;*/
    /*--red-900: #80231c;*/
    /*--red-950: #460d09;*/

    /*--slate-50: #fbfcfe;*/
    /*--slate-100: #f0f4f8;*/
    /*--slate-200: #dde7ee;*/
    /*--slate-300: #cdd7e1;*/
    /*--slate-400: #9fa6ad;*/
    /*--slate-500: #636b74;*/
    /*--slate-600: #555e68;*/
    /*--slate-700: #32383e;*/
    /*--slate-800: #202427;*/
    /*--slate-900: #121517;*/
    /*--slate-950: #090a0b;*/

    /*--green-50: #f0fdfa;*/
    /*--green-100: #ccfbef;*/
    /*--green-200: #9af5e1;*/
    /*--green-300: #5fe9ce;*/
    /*--green-400: #2ed3b8;*/
    /*--green-500: #15b79f;*/
    /*--green-600: #0e9382;*/
    /*--green-700: #107569;*/
    /*--green-800: #115e56;*/
    /*--green-900: #134e48;*/
    /*--green-950: #042f2c;*/

    /*--royal-blue-50: #ecf0ff;*/
    /*--royal-blue-100: #dde3ff;*/
    /*--royal-blue-200: #c2cbff;*/
    /*--royal-blue-300: #9ca7ff;*/
    /*--royal-blue-400: #7578ff;*/
    /*--royal-blue-500: #635bff;*/
    /*--royal-blue-600: #4e36f5;*/
    /*--royal-blue-700: #432ad8;*/
    /*--royal-blue-800: #3725ae;*/
    /*--royal-blue-900: #302689;*/
    /*--royal-blue-950: #1e1650;*/

    /*--blue-50: #ecfdff;*/
    /*--blue-100: #cff7fe;*/
    /*--blue-200: #a4eefd;*/
    /*--blue-300: #66e0fa;*/
    /*--blue-400: #10bee8;*/
    /*--blue-500: #04aad6;*/
    /*--blue-600: #0787b3;*/
    /*--blue-700: #0d6d91;*/
    /*--blue-800: #145876;*/
    /*--blue-900: #154964;*/
    /*--blue-950: #082f44;*/

    /*--yellow-50: #fffaea;*/
    /*--yellow-100: #fff3c6;*/
    /*--yellow-200: #ffe587;*/
    /*--yellow-300: #ffd049;*/
    /*--yellow-400: #ffbb1f;*/
    /*--yellow-500: #fb9c0c;*/
    /*--yellow-600: #de7101;*/
    /*--yellow-700: #b84d05;*/
    /*--yellow-800: #953b0b;*/
    /*--yellow-900: #7b310c;*/
    /*--yellow-950: #471701;*/

    /*--grey-50: #f9fafb;*/
    /*--grey-100: #f1f1f4;*/
    /*--grey-200: #dcdfe4;*/
    /*--grey-300: #b3b9c6;*/
    /*--grey-400: #8a94a6;*/
    /*--grey-500: #667085;*/
    /*--grey-600: #565e73;*/
    /*--grey-700: #434a60;*/
    /*--grey-800: #313749;*/
    /*--grey-900: #212636;*/
    /*--grey-950: #121621;*/

    --red-50: rgba(var(--rgb-red-50) / 1);
    --red-100: rgba(var(--rgb-red-100) / 1);
    --red-200: rgba(var(--rgb-red-200) / 1);
    --red-300: rgba(var(--rgb-red-300) / 1);
    --red-400: rgba(var(--rgb-red-400) / 1);
    --red-500: rgba(var(--rgb-red-500) / 1);
    --red-600: rgba(var(--rgb-red-600) / 1);
    --red-700: rgba(var(--rgb-red-700) / 1);
    --red-800: rgba(var(--rgb-red-800) / 1);
    --red-900: rgba(var(--rgb-red-900) / 1);
    --red-950: rgba(var(--rgb-red-950) / 1);

    --slate-50: rgba(var(--rgb-slate-50) / 1);
    --slate-100: rgba(var(--rgb-slate-100) / 1);
    --slate-200: rgba(var(--rgb-slate-200) / 1);
    --slate-300: rgba(var(--rgb-slate-300) / 1);
    --slate-400: rgba(var(--rgb-slate-400) / 1);
    --slate-500: rgba(var(--rgb-slate-500) / 1);
    --slate-600: rgba(var(--rgb-slate-600) / 1);
    --slate-700: rgba(var(--rgb-slate-700) / 1);
    --slate-800: rgba(var(--rgb-slate-800) / 1);
    --slate-900: rgba(var(--rgb-slate-900) / 1);
    --slate-950: rgba(var(--rgb-slate-950) / 1);

    --green-50: rgba(var(--rgb-green-50) / 1);
    --green-100: rgba(var(--rgb-green-100) / 1);
    --green-200: rgba(var(--rgb-green-200) / 1);
    --green-300: rgba(var(--rgb-green-300) / 1);
    --green-400: rgba(var(--rgb-green-400) / 1);
    --green-500: rgba(var(--rgb-green-500) / 1);
    --green-600: rgba(var(--rgb-green-600) / 1);
    --green-700: rgba(var(--rgb-green-700) / 1);
    --green-800: rgba(var(--rgb-green-800) / 1);
    --green-900: rgba(var(--rgb-green-900) / 1);
    --green-950: rgba(var(--rgb-green-950) / 1);

    --royal-blue-50: rgba(var(--rgb-royal-blue-50) / 1);
    --royal-blue-100: rgba(var(--rgb-royal-blue-100) / 1);
    --royal-blue-200: rgba(var(--rgb-royal-blue-200) / 1);
    --royal-blue-300: rgba(var(--rgb-royal-blue-300) / 1);
    --royal-blue-400: rgba(var(--rgb-royal-blue-400) / 1);
    --royal-blue-500: rgba(var(--rgb-royal-blue-500) / 1);
    --royal-blue-600: rgba(var(--rgb-royal-blue-600) / 1);
    --royal-blue-700: rgba(var(--rgb-royal-blue-700) / 1);
    --royal-blue-800: rgba(var(--rgb-royal-blue-800) / 1);
    --royal-blue-900: rgba(var(--rgb-royal-blue-900) / 1);
    --royal-blue-950: rgba(var(--rgb-royal-blue-950) / 1);

    --blue-50: rgba(var(--rgb-blue-50) / 1);
    --blue-100: rgba(var(--rgb-blue-100) / 1);
    --blue-200: rgba(var(--rgb-blue-200) / 1);
    --blue-300: rgba(var(--rgb-blue-300) / 1);
    --blue-400: rgba(var(--rgb-blue-400) / 1);
    --blue-500: rgba(var(--rgb-blue-500) / 1);
    --blue-600: rgba(var(--rgb-blue-600) / 1);
    --blue-700: rgba(var(--rgb-blue-700) / 1);
    --blue-800: rgba(var(--rgb-blue-800) / 1);
    --blue-900: rgba(var(--rgb-blue-900) / 1);
    --blue-950: rgba(var(--rgb-blue-950) / 1);

    --yellow-50: rgba(var(--rgb-yellow-50) / 1);
    --yellow-100: rgba(var(--rgb-yellow-100) / 1);
    --yellow-200: rgba(var(--rgb-yellow-200) / 1);
    --yellow-300: rgba(var(--rgb-yellow-300) / 1);
    --yellow-400: rgba(var(--rgb-yellow-400) / 1);
    --yellow-500: rgba(var(--rgb-yellow-500) / 1);
    --yellow-600: rgba(var(--rgb-yellow-600) / 1);
    --yellow-700: rgba(var(--rgb-yellow-700) / 1);
    --yellow-800: rgba(var(--rgb-yellow-800) / 1);
    --yellow-900: rgba(var(--rgb-yellow-900) / 1);
    --yellow-950: rgba(var(--rgb-yellow-950) / 1);

    --grey-50: rgba(var(--rgb-grey-50) / 1);
    --grey-100: rgba(var(--rgb-grey-100) / 1);
    --grey-200: rgba(var(--rgb-grey-200) / 1);
    --grey-300: rgba(var(--rgb-grey-300) / 1);
    --grey-400: rgba(var(--rgb-grey-400) / 1);
    --grey-500: rgba(var(--rgb-grey-500) / 1);
    --grey-600: rgba(var(--rgb-grey-600) / 1);
    --grey-700: rgba(var(--rgb-grey-700) / 1);
    --grey-800: rgba(var(--rgb-grey-800) / 1);
    --grey-900: rgba(var(--rgb-grey-900) / 1);
    --grey-950: rgba(var(--rgb-grey-950) / 1);

    --overlays-0: none;
    --overlays-1: linear-gradient(rgba(255 255 255 / 0.051), rgba(255 255 255 / 0.051));
    --overlays-2: linear-gradient(rgba(255 255 255 / 0.069), rgba(255 255 255 / 0.069));
    --overlays-3: linear-gradient(rgba(255 255 255 / 0.082), rgba(255 255 255 / 0.082));
    --overlays-4: linear-gradient(rgba(255 255 255 / 0.092), rgba(255 255 255 / 0.092));
    --overlays-5: linear-gradient(rgba(255 255 255 / 0.101), rgba(255 255 255 / 0.101));
    --overlays-6: linear-gradient(rgba(255 255 255 / 0.108), rgba(255 255 255 / 0.108));
    --overlays-7: linear-gradient(rgba(255 255 255 / 0.114), rgba(255 255 255 / 0.114));
    --overlays-8: linear-gradient(rgba(255 255 255 / 0.119), rgba(255 255 255 / 0.119));
    --overlays-9: linear-gradient(rgba(255 255 255 / 0.124), rgba(255 255 255 / 0.124));
    --overlays-10: linear-gradient(rgba(255 255 255 / 0.128), rgba(255 255 255 / 0.128));
    --overlays-11: linear-gradient(rgba(255 255 255 / 0.132), rgba(255 255 255 / 0.132));
    --overlays-12: linear-gradient(rgba(255 255 255 / 0.135), rgba(255 255 255 / 0.135));
    --overlays-13: linear-gradient(rgba(255 255 255 / 0.139), rgba(255 255 255 / 0.139));
    --overlays-14: linear-gradient(rgba(255 255 255 / 0.142), rgba(255 255 255 / 0.142));
    --overlays-15: linear-gradient(rgba(255 255 255 / 0.145), rgba(255 255 255 / 0.145));
    --overlays-16: linear-gradient(rgba(255 255 255 / 0.147), rgba(255 255 255 / 0.147));
    --overlays-17: linear-gradient(rgba(255 255 255 / 0.15), rgba(255 255 255 / 0.15));
    --overlays-18: linear-gradient(rgba(255 255 255 / 0.152), rgba(255 255 255 / 0.152));
    --overlays-19: linear-gradient(rgba(255 255 255 / 0.155), rgba(255 255 255 / 0.155));
    --overlays-20: linear-gradient(rgba(255 255 255 / 0.157), rgba(255 255 255 / 0.157));
    --overlays-21: linear-gradient(rgba(255 255 255 / 0.159), rgba(255 255 255 / 0.159));
    --overlays-22: linear-gradient(rgba(255 255 255 / 0.161), rgba(255 255 255 / 0.161));
    --overlays-23: linear-gradient(rgba(255 255 255 / 0.163), rgba(255 255 255 / 0.163));
    --overlays-24: linear-gradient(rgba(255 255 255 / 0.165), rgba(255 255 255 / 0.165));

    --sidebar: var(--common-paper-dark);
    --sidebar-color: var(--common-white);
    --side-group-title-color: var(--grey-400);
    --sidebar-item-color: var(--grey-300);
    --sidebar-item-hover: rgba(255, 255, 255, 0.04);
    --sidebar-item-active: var(--primary-main);
    --sidebar-item-active-color: var(--common-white);
    --sidebar-item-disabled-color: var(--grey-500);
    --sidebar-item-icon-color: var(--grey-400);
    --sidebar-item-icon-active-color: var(--common-white);
    --sidebar-item-icon-disabled-color: var(--grey-600);
    --sidebar-item-expand-color: var(--grey-400);
    --sidebar-item-children-border: var(--grey-700);
    --sidebar-item-children-indicator: var(--grey-400);
}

[data-mode="light"] {
    --action-disable: rgba(0, 0, 0, 0.06);
    --action-active: rgba(0, 0, 0, 0.54);
    --action-hover: rgba(0, 0, 0, 0.04);
    --action-extra-light-opacity:0.2;
    --action-hover-opacity: 0.04;
    --action-selected: rgba(0, 0, 0, 0.08);
    --action-selected-opacity: 0.08;
    --action-disabled: rgba(0, 0, 0, 0.26);
    --action-disabled-opacity: 0.38;
    --action-focus: rgba(0, 0, 0, 0.12);
    --action-focus-opacity: 0.12;

    --common: var(--common-white);
    --common-on: var(--common-black);

    --default: var(--common-white);
    --paper:#fcfcfc;
    --card:var(--common-white);
    --level1: var(--grey-50);
    --level2: var(--grey-100);
    --level3: var(--grey-200);
    
    --primary-light: var(--royal-blue-400);
    --primary-extra-light:rgba(var(--rgb-royal-blue-300) / var(--action-extra-light-opacity) );
    --primary-main: var(--royal-blue-500);
    --primary-main-gradient: linear-gradient(to bottom, var(--primary-light), var(--primary-dark));
    --primary-dark: var(--royal-blue-600);
    --primary-contrast-text: var(--common-white);
    --primary-activated: rgba(var(--primary-main-channel) / var(--action-activated-opacity));
    --primary-hovered: rgba(var(--primary-main-channel) / var(--action-hover-opacity));
    --primary-selected: rgba(var(--primary-main-channel) / var(--action-selected-opacity));
    --primary-main-channel:var(--rgb-royal-blue-500);
    --primary-light-channel:var(--rgb-royal-blue-400);
    --primary-dark-channel: var(--rgb-royal-blue-600);
    --primary-contrast-textChannel: var(--common-white);

    --secondary-light: var(--slate-600);
    --secondary-main: var(--slate-700);
    --secondary-main-gradient:linear-gradient(to bottom, var(--secondary-light) , var(--secondary-dark));
    --secondary-dark: var(--slate-800);
    --secondary-contrast-text: var(--common-white);
    --secondary-activated: rgba(var(--secondary-main-channel) / var(--action-activated-opacity));
    --secondary-hovered: rgba(var(--secondary-main-channel) / var(--action-hover-opacity));
    --secondary-selected: rgba(var(--secondary-main-channel) / var(--action-selected-opacity));
    --secondary-main-channel: 50 56 62;
    --secondary-light-channel: 85 94 104;
    --secondary-dark-channel: 32 36 39;
    --secondary-contrast-textChannel: var(--common-white);

    --error-light: var(--red-400);
    --error-main: var(--red-500);
    --error-main-gradient: linear-gradient(to bottom, var(--error-light), var(--error-dark));
    --error-dark: var(--red-600);
    --error-contrast-text: var(--common-white);
    --error-activated: rgba(var(--error-main-channel) / var(--action-activated-opacity));
    --error-hovered: rgba(var(--error-main-channel) / var(--action-hover-opacity));
    --error-selected: rgba(var(--error-main-channel) / var(--action-selected-opacity));
    --error-main-channel: 240 68 56;
    --error-light-channel: 249 121 112;
    --error-dark-channel: 222 48 36;
    --error-contrast-textChannel: var(--common-white);

    --warning-light: var(--yellow-400);
    --warning-main: var(--yellow-500);
    --warning-main-gradient: linear-gradient(to bottom, var(--warning-light) , var(--error-dark));
    --warning-dark: var(--yellow-600);
    --warning-contrast-text: var(--common-white);
    --warning-activated: rgba(var(--warning-main-channel) / var(--action-activated-opacity));
    --warning-hovered: rgba(var(--warning-main-channel) / var(--action-hover-opacity));
    --warning-selected: rgba(var(--warning-main-channel) / var(--action-selected-opacity));
    --warning-main-channel: 251 156 12;
    --warning-light-channel: 255 187 31;
    --warning-dark-channel: 222 113 1;
    --warning-contrast-textChannel: var(--common-white);

    --info-light: var(--blue-400);
    --info-main:  var(--blue-500);
    --info-main-gradient: linear-gradient(to bottom, var(--info-light), var(--info-dark));
    --info-dark:  var(--blue-600);
    --info-contrast-text: var(--common-white);
    --info-activated: rgba(var(--info-main-channel) / var(--action-activated-opacity));
    --info-hovered: rgba(var(--info-main-channel) / var(--action-hover-opacity));
    --info-selected: rgba(var(--info-main-channel) / var(--action-selected-opacity));
    --info-main-channel: 4 170 214;
    --info-light-channel: 16 190 232;
    --info-dark-channel: 7 135 179;
    --info-contrast-textChannel: var(--common-white);

    --success-light: var(--green-400);
    --success-main: var(--green-500);
    --success-main-gradient: linear-gradient(to bottom, var(--success-light) ,var(--success-dark));
    --success-dark: var(--green-600);
    --success-contrast-text: var(--common-white);
    --success-activated: rgba(var(--success-main-channel) / var(--action-activated-opacity));
    --success-hovered: rgba(var(--success-main-channel) / var(--action-hover-opacity));
    --success-selected: rgba(var(--success-main-channel) / var(--action-selected-opacity));
    --success-main-channel: 21 183 159;
    --success-light-channel: 46 211 184;
    --success-dark-channel: 14 147 130;
    --success-contrast-textChannel: var(--common-white);

    --primary: var(--grey-900);
    --secondary: var(--grey-500);
    --disabled: var(--grey-400);

    --shadow: rgba(0, 0, 0, 0.08);
    --backdrop: rgb(18, 22, 33, 0.8);
    --divider: var(--grey-200);
    --card-border:var(--grey-100);
}

[data-mode="dark"] {
    --common: var(--common-black);
    --common-on: var(--common-white);

    --grey-50: var(--slate-50);
    --grey-100: var(--slate-100);
    --grey-200: var(--slate-200);
    --grey-300: var(--slate-300);
    --grey-400: var(--slate-400);
    --grey-500: var(--slate-500);
    --grey-600: var(--slate-600);
    --grey-700: var(--slate-700);
    --grey-800: var(--slate-800);
    --grey-900: var(--slate-900);
    --grey-950: var(--slate-950);

    --default: var(--grey-950);
    --paper: #0f1014;
    --card: #15171c;
    --level1: var(--grey-800);
    --level2: var(--grey-700);
    --level3: var(--grey-600);

    --primary-light: var(--royal-blue-300);
    --primary-extra-light:rgba(var(--rgb-royal-blue-400) / var(--action-extra-light-opacity) );
    --primary-main: var(--royal-blue-400);
    --primary-main-gradient: linear-gradient(to bottom, var(--primary-main), var(--primary-dark));
    --primary-dark: var(--royal-blue-500);
    --primary-contrast-text: var(--common-black);
    --primary-activated: rgba(var(--primary-main-channel) / var(--action-activated-opacity));
    --primary-hovered: rgba(var(--primary-main-channel) / var(--action-hover-opacity));
    --primary-selected: rgba(var(--primary-main-channel) / var(--action-selected-opacity));
    --primary-main-channel:var(--rgb-royal-blue-400);
    --primary-light-channel:var(--rgb-royal-blue-300);
    --primary-dark-channel: var(--rgb-royal-blue-500);
    --primary-contrast-textChannel: var(--common-black);

    --secondary-light: var(--slate-100);
    --secondary-main: var(--slate-200);
    --secondary-main-gradient:linear-gradient(to bottom, var(--secondary-main) , var(--secondary-dark));
    --secondary-dark: var(--slate-300);
    --secondary-contrast-text: var(--common-black);
    --secondary-activated: rgba(var(--secondary-main-channel) / var(--action-activated-opacity));
    --secondary-hovered: rgba(var(--secondary-main-channel) / var(--action-hover-opacity));
    --secondary-selected: rgba(var(--secondary-main-channel) / var(--action-selected-opacity));
    --secondary-main-channel: 221 231 238;
    --secondary-light-channel: 240 244 248;
    --secondary-dark-channel: 205 215 225;
    --secondary-contrast-textChannel: var(--common-black);
    
    --error-light: var(--red-300);
    --error-main: var(--red-400);
    --error-main-gradient: linear-gradient(to bottom, var(--error-main), var(--error-dark));
    --error-dark: var(--red-500);
    --error-contrast-text: var(--common-black);
    --error-activated: rgba(var(--error-main-channel) / var(--action-activated-opacity));
    --error-hovered: rgba(var(--error-main-channel) / var(--action-hover-opacity));
    --error-selected: rgba(var(--error-main-channel) / var(--action-selected-opacity));
    --error-main-channel: 249 121 112;
    --error-light-channel: 253 170 164;
    --error-dark-channel: 240 68 56;
    --error-contrast-textChannel: var(--common-black);

    --warning-light: var(--yellow-300);
    --warning-main: var(--yellow-400);
    --warning-main-gradient: linear-gradient(to bottom, var(--warning-main) ,var(--warning-dark));
    --warning-dark: var(--yellow-500);
    --warning-contrast-text: var(--common-black);
    --warning-activated: rgba(var(--warning-main-channel) / var(--action-activated-opacity));
    --warning-hovered: rgba(var(--warning-main-channel) / var(--action-hover-opacity));
    --warning-selected: rgba(var(--warning-main-channel) / var(--action-selected-opacity));
    --warning-main-channel: 255 187 31;
    --warning-light-channel: 255 208 73;
    --warning-dark-channel: 251 156 12;
    --warning-contrast-textChannel: var(--common-black);

    --info-light: var(--blue-300);
    --info-main: var(--blue-400);
    --info-main-gradient: linear-gradient(to bottom, var(--info-main), var(--info-dark));
    --info-dark: var(--blue-500);
    --info-contrast-text: var(--common-black);
    --info-activated: rgba(var(--info-main-channel) / var(--action-activated-opacity));
    --info-hovered: rgba(var(--info-main-channel) / var(--action-hover-opacity));
    --info-selected: rgba(var(--info-main-channel) / var(--action-selected-opacity));
    --info-main-channel: 16 190 232;
    --info-light-channel: 102 224 250;
    --info-dark-channel: 4 170 214;
    --info-contrast-textChannel: var(--common-black);

    --success-light: var(--green-300);
    --success-main: var(--green-400);
    --success-main-gradient: linear-gradient(to bottom, var(--success-main) ,var(--success-dark));
    --success-dark: var(--green-500);
    --success-contrast-text: var(--common-black);
    --success-activated: rgba(var(--success-main-channel) / var(--action-activated-opacity));
    --success-hovered: rgba(var(--success-main-channel) / var(--action-hover-opacity));
    --success-selected: rgba(var(--success-main-channel) / var(--action-selected-opacity));
    --success-main-channel: 46 211 184;
    --success-light-channel: 95 233 206;
    --success-dark-channel: 21 183 159;
    --success-contrast-textChannel: var(--common-black);

    --primary: var(--grey-100);
    --secondary: var(--grey-400);
    --disabled: var(--grey-600);
    --primaryChannel: 240 244 248;
    --secondaryChannel: 159 166 173;

    --action-active: var(--common-white);
    --action-hover: rgba(255, 255, 255, 0.08);
    --action-hover-opacity: 0.15;
    --action-extra-light-opacity:0.3;
    --action-selected: rgba(255, 255, 255, 0.16);
    --action-selected-opacity: 0.16;
    --action-disabled: rgba(255, 255, 255, 0.3);
    --action-disable: rgba(0, 0, 0, 0.12);
    --action-disabled-opacity: 0.38;
    --action-focus: rgba(255, 255, 255, 0.12);
    --action-focus-opacity: 0.12;
    --action-activated-opacity: 0.24;
    --action-activeChannel: 255 255 255;
    --action-selectedChannel: 255 255 255;

    --divider: var(--grey-700);
    --shadow: rgba(0, 0, 0, 0.5);
    --backdrop: rgba(0, 0, 0, 0.5);
    --card-border:var(--grey-800);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(191, 193, 207);
}

::-webkit-scrollbar-thumb {
    background: #858585;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


















